https://www.transtats.bts.gov/DL_SelectFields.asp?Table_ID=236

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('data/otr-10k.csv')

In [21]:
data.head(10).T

,0,1,2,3,4,5,6,7,8,9
FL_DATE,2019-01-01,2019-01-01,2019-01-01,2019-01-01,2019-01-01,2019-01-01,2019-01-01,2019-01-01,2019-01-01,2019-01-01
OP_CARRIER,DL,DL,DL,DL,DL,DL,DL,DL,DL,DL
OP_CARRIER_FL_NUM,40,41,68,69,128,129,192,305,348,367
ORIGIN,LAX,JFK,PDX,LAX,SEA,LAX,LAX,SNA,ONT,SFO
DEST,JFK,LAX,LAX,PDX,LAX,SEA,ATL,JFK,SLC,LAX
CRS_DEP_TIME,920,1659,1106,730,935,1133,2330,1217,1000,1610
DEP_TIME,915,1658,1100,733,932,1134,2341,1229,954,1612
DEP_DELAY,-5,-1,-6,3,-3,1,11,12,-6,2
TAXI_OUT,16,25,8,12,17,21,43,17,13,14
TAXI_IN,8,8,21,5,16,5,7,14,3,10
CRS_ARR_TIME,1747,2030,1325,1003,1219,1434,637,2035,1249,1737
ARR_TIME,1728,2024,1317,1006,1201,1428,659,2032,1243,1732
ARR_DELAY,-19,-6,-8,3,-18,-6,22,-3,-6,-5
CANCELLED,0,0,0,0,0,0,0,0,0,0
CANCELLATION_CODE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DIVERTED,0,0,0,0,0,0,0,0,0,0
CRS_ELAPSED_TIME,327,391,139,153,164,181,247,318,109,87
ACTUAL_ELAPSED_TIME,313,386,137,153,149,174,258,303,109,80
AIR_TIME,289,353,108,136,116,148,208,272,93,56
DISTANCE,2475,2475,834,834,954,954,1947,2454,558,337
CARRIER_DELAY,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,NaN,NaN
WEATHER_DELAY,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
NAS_DELAY,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,NaN,NaN
SECURITY_DELAY,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
LATE_AIRCRAFT_DELAY,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
Unnamed: 25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109798 entries, 0 to 109797
Data columns (total 26 columns):
FL_DATE                109798 non-null object
OP_CARRIER             109798 non-null object
OP_CARRIER_FL_NUM      109798 non-null int64
ORIGIN                 109798 non-null object
DEST                   109798 non-null object
CRS_DEP_TIME           109798 non-null int64
DEP_TIME               107755 non-null float64
DEP_DELAY              107755 non-null float64
TAXI_OUT               107730 non-null float64
TAXI_IN                107639 non-null float64
CRS_ARR_TIME           109798 non-null int64
ARR_TIME               107639 non-null float64
ARR_DELAY              107419 non-null float64
CANCELLED              109798 non-null float64
CANCELLATION_CODE      2082 non-null object
DIVERTED               109798 non-null float64
CRS_ELAPSED_TIME       109798 non-null float64
ACTUAL_ELAPSED_TIME    107419 non-null float64
AIR_TIME               107419 non-null float64
DISTANCE               109798 non-null float64
CARRIER_DELAY          19520 non-null float64
WEATHER_DELAY          19520 non-null float64
NAS_DELAY              19520 non-null float64
SECURITY_DELAY         19520 non-null float64
LATE_AIRCRAFT_DELAY    19520 non-null float64
Unnamed: 25            0 non-null float64
dtypes: float64(18), int64(3), object(5)
memory usage: 19.7+ MB

In [23]:
data.describe(include='O').T

                    count unique         top   freq
FL_DATE            109798     31  2019-01-02   3931
OP_CARRIER         109798     12          WN  31944
ORIGIN             109798    105         LAX  17988
DEST               109798    103         LAX  17977
CANCELLATION_CODE    2082      3           B   1120

In [24]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
OP_CARRIER_FL_NUM,109798.0,2109.800297,1748.647443,1.0,736.0,1614.0,2894.0,6994.0
CRS_DEP_TIME,109798.0,1324.235560,487.048870,3.0,905.0,1308.0,1730.0,2359.0
DEP_TIME,107755.0,1328.639581,498.482927,1.0,908.0,1316.0,1739.0,2400.0
DEP_DELAY,107755.0,9.473537,45.292556,-27.0,-6.0,-2.0,6.0,1651.0
TAXI_OUT,107730.0,17.873304,9.991857,1.0,12.0,15.0,21.0,181.0
TAXI_IN,107639.0,7.471521,6.236377,1.0,4.0,6.0,9.0,141.0
CRS_ARR_TIME,109798.0,1513.518206,510.614766,1.0,1126.0,1534.0,1944.0,2400.0
ARR_TIME,107639.0,1495.327298,529.112188,1.0,1115.0,1527.0,1939.0,2400.0
ARR_DELAY,107419.0,3.581163,48.102335,-85.0,-16.0,-7.0,7.0,1638.0
CANCELLED,109798.0,0.018962,0.136392,0.0,0.0,0.0,0.0,1.0
DIVERTED,109798.0,0.002705,0.051939,0.0,0.0,0.0,0.0,1.0
CRS_ELAPSED_TIME,109798.0,178.494481,100.199360,46.0,90.0,145.0,260.0,428.0
ACTUAL_ELAPSED_TIME,107419.0,173.050596,99.037573,29.0,87.0,139.0,251.0,513.0
AIR_TIME,107419.0,147.727395,95.902034,14.0,64.0,114.0,223.0,414.0
DISTANCE,109798.0,1104.888249,802.415379,66.0,397.0,834.0,1744.0,2704.0
CARRIER_DELAY,19520.0,18.067264,59.303707,0.0,0.0,0.0,16.0,1638.0
WEATHER_DELAY,19520.0,2.162551,23.060877,0.0,0.0,0.0,0.0,1199.0
NAS_DELAY,19520.0,21.614447,48.046029,0.0,0.0,7.0,23.0,1447.0
SECURITY_DELAY,19520.0,0.080379,2.211160,0.0,0.0,0.0,0.0,178.0
LATE_AIRCRAFT_DELAY,19520.0,24.211373,51.033710,0.0,0.0,0.0,28.0,1437.0
Unnamed: 25,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
data[data.DEP_DELAY >= 1200].head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,TAXI_IN,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 25
3766,2019-01-02,NK,656,LAX,PIT,1450,1406.0,1396.0,14.0,7.0,...,271.0,280.0,259.0,2136.0,6.0,0.0,9.0,0.0,1390.0,NaN
6189,2019-01-02,NK,404,ATL,LAX,1120,1114.0,1434.0,33.0,11.0,...,306.0,301.0,257.0,1947.0,1429.0,0.0,0.0,0.0,0.0,NaN
15391,2019-01-05,AA,2363,FAT,DFW,1157,1528.0,1651.0,16.0,14.0,...,187.0,174.0,144.0,1313.0,1638.0,0.0,0.0,0.0,0.0,NaN
16427,2019-01-05,OO,5634,RNO,LAX,1920,1853.0,1413.0,64.0,13.0,...,110.0,139.0,62.0,391.0,1354.0,0.0,29.0,0.0,59.0,NaN
21034,2019-01-06,OO,3058,LAX,MFR,933,909.0,1416.0,40.0,3.0,...,129.0,135.0,92.0,630.0,1402.0,0.0,6.0,0.0,14.0,NaN

In [20]:
data2 = pd.read_csv('data/681857647_T_ONTIME_REPORTING.csv')

In [17]:
%time data2.drop([data2.columns.values[-1]], axis=1).to_csv('data/otr-ca-01.csv', index=False)

CPU times: user 18.7 s, sys: 408 ms, total: 19.1 s
Wall time: 19.4 s

In [29]:
del(data2)