In [1]:
import pandas as pd
import numpy as np

In [2]:
# carregar dados
data = pd.read_csv('winequality-white.csv', sep=';')

# embaralhar dados
data = data.sample(frac=1)

# mostrar quantidade de linhas e colunas
print(data.shape)

# mostrar exemplos de dados
data.head()

(4898, 12)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1942,8.3,0.36,0.57,15.0,0.052,35.0,256.0,1.00010,2.93,0.64,8.6,5
3847,6.4,0.32,0.23,16.2,0.055,36.0,176.0,0.99860,3.26,0.54,9.1,5
3183,6.5,0.24,0.38,1.0,0.027,31.0,90.0,0.98926,3.24,0.36,12.3,6
2745,6.7,0.44,0.22,4.3,0.032,19.0,99.0,0.99015,3.26,0.53,12.8,7
2977,6.6,0.23,0.20,11.4,0.044,45.0,131.0,0.99604,2.96,0.51,9.7,6

In [3]:
# renomear coluna índice
data.index.names = ['wine']

In [4]:
# modificar nomes das colunas

cols = {}
for col in data.columns:
    newcol = col.lower().replace(' ', '_')
    cols[col] = newcol
    #print(col, '=>', newcol)

#print(type(cols), cols)

data.rename(columns=cols, inplace=True)

In [5]:
# aumentar a precisão da coluna alvo
data.quality = round(data.quality + 1e-3, 2)

In [6]:
data['quality'].describe()

count    4898.000000
mean        5.877909
std         0.885639
min         3.000000
25%         5.000000
50%         6.000000
75%         6.000000
max         9.000000
Name: quality, dtype: float64

In [7]:
# exibir dados
data.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph,sulphates,alcohol,quality
wine,,,,,,,,,,,,
1942,8.3,0.36,0.57,15.0,0.052,35.0,256.0,1.00010,2.93,0.64,8.6,5.0
3847,6.4,0.32,0.23,16.2,0.055,36.0,176.0,0.99860,3.26,0.54,9.1,5.0
3183,6.5,0.24,0.38,1.0,0.027,31.0,90.0,0.98926,3.24,0.36,12.3,6.0
2745,6.7,0.44,0.22,4.3,0.032,19.0,99.0,0.99015,3.26,0.53,12.8,7.0
2977,6.6,0.23,0.20,11.4,0.044,45.0,131.0,0.99604,2.96,0.51,9.7,6.0

In [8]:
# dividir os dados de treino e teste

divisao = int(data.shape[0] * 2 / 3)

train = data[:divisao]
test = data[divisao:]

print(train.shape, test.shape)

(3265, 12) (1633, 12)

In [9]:
train.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph,sulphates,alcohol,quality
wine,,,,,,,,,,,,
1942,8.3,0.36,0.57,15.0,0.052,35.0,256.0,1.00010,2.93,0.64,8.6,5.0
3847,6.4,0.32,0.23,16.2,0.055,36.0,176.0,0.99860,3.26,0.54,9.1,5.0
3183,6.5,0.24,0.38,1.0,0.027,31.0,90.0,0.98926,3.24,0.36,12.3,6.0
2745,6.7,0.44,0.22,4.3,0.032,19.0,99.0,0.99015,3.26,0.53,12.8,7.0
2977,6.6,0.23,0.20,11.4,0.044,45.0,131.0,0.99604,2.96,0.51,9.7,6.0

In [10]:
test.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph,sulphates,alcohol,quality
wine,,,,,,,,,,,,
4657,6.0,0.290,0.41,10.8,0.048,55.0,149.0,0.99370,3.09,0.59,11.0,7.0
2213,7.4,0.170,0.29,1.4,0.047,23.0,107.0,0.99390,3.52,0.65,10.4,6.0
4609,6.0,0.615,0.04,0.8,0.032,8.0,50.0,0.99036,3.14,0.40,11.0,4.0
1508,6.8,0.210,0.49,14.5,0.060,50.0,170.0,0.99910,3.55,0.44,9.8,6.0
624,6.0,0.360,0.06,1.4,0.066,27.0,128.0,0.99340,3.26,0.55,9.3,5.0

In [11]:
example = test[['quality']]
example['quality'] = example.index.map(lambda x: float(x % 7 + 3))
example.head()

/opt/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

      quality
wine
4657      5.0
2213      4.0
4609      6.0
1508      6.0
624       4.0

In [12]:
example.describe()

           quality
count  1633.000000
mean      5.994489
std       2.002901
min       3.000000
25%       4.000000
50%       6.000000
75%       8.000000
max       9.000000

In [13]:
train.to_csv('wine-train.csv')

test.drop(['quality'], axis=1).to_csv('wine-test.csv')
test[['quality']].to_csv('wine-solution.csv')

example.to_csv('wine-example.csv')

In [14]:
!head wine-*.csv

==> wine-example.csv <==
wine,quality
4657,5.0
2213,4.0
4609,6.0
1508,6.0
624,4.0
142,5.0
2569,3.0
3349,6.0
527,5.0

==> wine-solution.csv <==
wine,quality
4657,7.0
2213,6.0
4609,4.0
1508,6.0
624,5.0
142,6.0
2569,6.0
3349,6.0
527,6.0

==> wine-test.csv <==
wine,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph,sulphates,alcohol
4657,6.0,0.29,0.41,10.8,0.048,55.0,149.0,0.9937,3.09,0.59,11.0
2213,7.4,0.17,0.29,1.4,0.047,23.0,107.0,0.9939,3.52,0.65,10.4
4609,6.0,0.615,0.04,0.8,0.032,8.0,50.0,0.99036,3.14,0.4,11.0
1508,6.8,0.21,0.49,14.5,0.06,50.0,170.0,0.9991,3.55,0.44,9.8
624,6.0,0.36,0.06,1.4,0.066,27.0,128.0,0.9934,3.26,0.55,9.3
142,7.9,0.21,0.4,1.2,0.039,38.0,107.0,0.992,3.21,0.54,10.8
2569,6.6,0.24,0.24,8.6,0.034,25.0,135.0,0.99582,3.33,0.59,10.3
3349,6.4,0.17,0.27,9.9,0.047,26.0,101.0,0.99596,3.34,0.5,9.9
527,6.1,0.28,0.22,1.8,0.034,32.0,116.0,0.9898,3.36,0.44,12.6

==> wine-train.csv <==
wine,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph,sulphates,alcohol,quality
1942,8.3,0.36,0.57,15.0,0.052,35.0,256.0,1.0001,2.93,0.64,8.6,5.0
3847,6.4,0.32,0.23,16.2,0.055,36.0,176.0,0.9986,3.26,0.54,9.1,5.0
3183,6.5,0.24,0.38,1.0,0.027,31.0,90.0,0.98926,3.24,0.36,12.3,6.0
2745,6.7,0.44,0.22,4.3,0.032,19.0,99.0,0.99015,3.26,0.53,12.8,7.0
2977,6.6,0.23,0.2,11.4,0.044,45.0,131.0,0.99604,2.96,0.51,9.7,6.0
1421,6.2,0.18,0.49,4.5,0.047,17.0,90.0,0.9919,3.27,0.37,11.6,6.0
1709,6.8,0.22,0.3,13.6,0.055,50.0,180.0,0.9984,3.44,0.39,9.8,5.0
4601,6.9,0.23,0.35,6.9,0.03,45.0,116.0,0.99244,2.8,0.54,11.0,6.0
2326,6.9,0.35,0.55,11.95,0.038,22.0,111.0,0.99687,3.11,0.29,9.7,5.0