In [1]:
import pandas as pd
import numpy as np

In [2]:
# definir par√¢metros extras
pd.set_option('precision', 4)
pd.set_option('display.max_columns', None)

In [7]:
# carregar dados
data = pd.read_csv('data/chicagoCrimes10k.csv.bz2', sep=',', encoding='UTF-8', index_col='ID')

# embaralhar dados
#data = data.sample(frac=1)

# mostrar quantidade de linhas e colunas
print(data.shape)

# mostrar exemplos de dados
data.head()

(9999, 21)

,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
ID,,,,,,,,,,,,,,,,,,,,,
9955810,HY144797,02/08/2015 11:43:40 PM,081XX S COLES AVE,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,STREET,True,False,422,4.0,7,46,18,1198273.0,1851626.0,2015,02/15/2015 12:43:39 PM,41.7477,-87.5490,"(41.747693646, -87.549035389)"
9955861,HY144838,02/08/2015 11:41:42 PM,118XX S STATE ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,True,522,5.0,34,53,08B,1178335.0,1826581.0,2015,02/15/2015 12:43:39 PM,41.6794,-87.6229,"(41.679442289, -87.622850758)"
9955801,HY144779,02/08/2015 11:30:22 PM,002XX S LARAMIE AVE,2026,NARCOTICS,POSS: PCP,SIDEWALK,True,False,1522,15.0,29,25,18,1141717.0,1898581.0,2015,02/15/2015 12:43:39 PM,41.8778,-87.7551,"(41.87777333, -87.755117993)"
9956197,HY144787,02/08/2015 11:30:23 PM,006XX E 67TH ST,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,STREET,True,False,321,NaN,6,42,18,NaN,NaN,2015,02/15/2015 12:43:39 PM,NaN,NaN,NaN
9955846,HY144829,02/08/2015 11:30:58 PM,0000X S MAYFIELD AVE,0610,BURGLARY,FORCIBLE ENTRY,APARTMENT,False,False,1513,15.0,29,25,05,1137239.0,1899372.0,2015,02/15/2015 12:43:39 PM,41.8800,-87.7715,"(41.880025548, -87.771541324)"

In [8]:
# remover colunas desnecess√°rias
data.drop(['X Coordinate', 'Y Coordinate', 'Year', 'Updated On',
           'Latitude', 'Longitude', 'Location'], axis=1, inplace=True)
data.head()

,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code
ID,,,,,,,,,,,,,,
9955810,HY144797,02/08/2015 11:43:40 PM,081XX S COLES AVE,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,STREET,True,False,422,4.0,7,46,18
9955861,HY144838,02/08/2015 11:41:42 PM,118XX S STATE ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,True,522,5.0,34,53,08B
9955801,HY144779,02/08/2015 11:30:22 PM,002XX S LARAMIE AVE,2026,NARCOTICS,POSS: PCP,SIDEWALK,True,False,1522,15.0,29,25,18
9956197,HY144787,02/08/2015 11:30:23 PM,006XX E 67TH ST,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,STREET,True,False,321,NaN,6,42,18
9955846,HY144829,02/08/2015 11:30:58 PM,0000X S MAYFIELD AVE,0610,BURGLARY,FORCIBLE ENTRY,APARTMENT,False,False,1513,15.0,29,25,05

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9999 entries, 9955810 to 9937290
Data columns (total 14 columns):
Case Number             9999 non-null object
Date                    9999 non-null object
Block                   9999 non-null object
IUCR                    9999 non-null object
Primary Type            9999 non-null object
Description             9999 non-null object
Location Description    9993 non-null object
Arrest                  9999 non-null bool
Domestic                9999 non-null bool
Beat                    9999 non-null int64
District                9837 non-null float64
Ward                    9999 non-null int64
Community Area          9999 non-null int64
FBI Code                9999 non-null object
dtypes: bool(2), float64(1), int64(3), object(8)
memory usage: 722.6+ KB

In [10]:
data.describe()

            Beat   District       Ward  Community Area
count  9999.0000  9837.0000  9999.0000       9999.0000
mean   1159.6181    11.3490    22.9541         37.4476
std     695.7603     6.9455    13.6496         21.2749
min     111.0000     1.0000     1.0000          1.0000
25%     613.0000     6.0000    11.0000         23.0000
50%    1031.0000    10.0000    23.0000         32.0000
75%    1711.0000    17.0000    34.0000         57.0000
max    2535.0000    25.0000    50.0000         77.0000

In [11]:
data.describe(include=['O'])

,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,FBI Code
count,9999,9999,9999,9999,9999,9999,9993,9999
unique,9999,9572,6518,213,27,199,91,25
top,HY137342,02/08/2015 09:00:10 PM,001XX N STATE ST,0820,THEFT,SIMPLE,STREET,06
freq,1,3,34,933,2034,1112,2488,2034

# converter campos float para int
cols = data.dtypes[data.dtypes == 'float'].index
cols = ['DepTime', 'ArrTime', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime',
       'ArrDelay', 'DepDelay', 'Distance', 'TaxiIn', 'TaxiOut', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']
data[cols].info()
#data[cols] = data[cols].astype(int)
#data[cols].head()

In [ ]:
# criar coluna √∫nica com informa√ß√£o da data
data['FlightDate'] = pd.to_datetime(data[['Year', 'Month', 'DayofMonth']].rename(columns={'DayofMonth': 'Day'}))

In [ ]:
# remover colunas derivadas da data
data.drop(['Year', 'Month', 'DayofMonth', 'DayOfWeek'], axis=1, inplace=True)

In [ ]:
# arrumar ordem das colunas
cols = data.columns.values[:-1].tolist()
cols.insert(0, 'FlightDate')
data = data[cols]

data.head()

data.info()

In [ ]:
# dividir os dados de treino e teste
divisao = int(data.shape[0] * 4 / 5)
train = data[:divisao]
test = data[divisao:]
print(train.shape, test.shape)

In [ ]:
train.head()

In [ ]:
test.head()

In [ ]:
example = test[['IsDepDelayed']]
example['IsDepDelayed'] = example.index.map(lambda x: 'NO' if (x % 2 == 0) else 'YES')
example.head()

In [ ]:
example.describe()

In [ ]:
# gerar arquivos CSV
train.to_csv('airlines-train.csv')
test.drop(['IsDepDelayed'], axis=1).to_csv('airlines-test.csv')
test[['IsDepDelayed']].to_csv('airlines-solution.csv')
example.to_csv('airlines-example.csv')

In [ ]:
!head airlines-*.csv