In [25]:
# importar pacotes necessários
import numpy as np
import pandas as pd

In [26]:
# carregar arquivo de dados de treino
train_data = pd.read_csv('zoo-train.csv', index_col='animal_name')

# mostrar alguns exemplos de registros
train_data.head()

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
animal_name,,,,,,,,,,,,,,,,,
termite,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
ladybird,0,0,1,0,1,0,1,0,0,1,0,0,6,0,0,0,6
aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
chub,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4

In [14]:
# carregar arquivo de dados de treino
data2 = pd.read_csv('zoo-train2.csv', index_col='animal_name')

# mostrar tamanho
print(data2.shape)

# mostrar alguns exemplos de registros
data2.head()

(43, 17)

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
animal_name,,,,,,,,,,,,,,,,,
snail,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
hornet,0,0,1,0,1,0,1,0,0,1,1,0,6,0,0,0,6
scallop,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,7
butterfly,1,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
cockroach,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6

In [15]:
# unir ambos os dados de treinamento
train_data = train_data.append(data2)

# mostrar tamanho
print(train_data.shape)

# mostrar alguns exemplos de registros
train_data.tail()

(144, 17)

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
animal_name,,,,,,,,,,,,,,,,,
cicada,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
gecko,0,0,1,0,0,0,0,1,1,1,0,0,4,1,1,0,3
squid,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,7
boa,0,0,1,0,0,0,1,1,1,1,0,0,0,1,0,1,3
salamander,0,0,1,0,0,1,0,1,1,1,0,0,4,1,1,0,5

In [27]:
# carregar arquivo de dados de teste
test_data = pd.read_csv('zoo-test.csv', index_col='animal_name')

# mostrar alguns exemplos de registros
test_data.head()

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
animal_name,,,,,,,,,,,,,,,,
tambaqui,0,0,1,0,0,1,0,1,1,0,0,1,0,1,0,0
urubu-rei,0,1,1,0,1,0,1,0,1,1,0,0,2,1,0,0
mico-leao-dourado,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,1
chimpanze,1,0,0,1,0,0,1,1,1,1,0,0,4,1,1,0
arara-azul,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,1

In [28]:
# definir dados de treino

X_train = train_data.drop(['class_type'], axis=1) # tudo, exceto a coluna alvo
y_train = train_data['class_type'] # apenas a coluna alvo

print('Forma dos dados de treino:', X_train.shape, y_train.shape)

Forma dos dados de treino: (101, 16) (101,)

In [29]:
# definir dados de teste

X_test = test_data # tudo, já que não possui a coluna alvo

print('Forma dos dados de teste:', X_test.shape)

Forma dos dados de teste: (70, 16)

In [30]:
# importar os pacotes necessários para os algoritmos de classificação
from sklearn.neighbors import KNeighborsClassifier

In [31]:
# D) K-Nearest Neighbours

model = KNeighborsClassifier(n_neighbors=3)
model.fit(X_train, y_train)

print(model)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [32]:
# executar previsão usando o modelo escolhido
y_pred = model.predict(X_test)

print('Exemplos de previsões:\n', y_pred[:10])

Exemplos de previsões:
 [4 2 1 1 2 1 3 1 4 1]

In [33]:
# gerar dados de envio (submissão)

submission = pd.DataFrame({
  'animal_name': X_test.index,
  'class_type': y_pred
})
submission.set_index('animal_name', inplace=True)

# mostrar dados de exemplo
submission.head(10)

                   class_type
animal_name
tambaqui                    4
urubu-rei                   2
mico-leao-dourado           1
chimpanze                   1
arara-azul                  2
macaco-barrigudo            1
jiboia                      3
mono-carvoeiro              1
matrinxa                    4
peixe-boi                   1

In [34]:
# gerar arquivo CSV para o envio
submission.to_csv('zoo-submission.csv')

In [35]:
# verificar conteúdo do arquivo gerado
!head zoo-submission.csv

animal_name,class_type
tambaqui,4
urubu-rei,2
mico-leao-dourado,1
chimpanze,1
arara-azul,2
macaco-barrigudo,1
jiboia,3
mono-carvoeiro,1
matrinxa,4