In [1]:
# importar pacotes necessários
import numpy as np
import pandas as pd

In [2]:
# definir parâmetros extras
#pd.set_option('precision', 2)
pd.set_option('display.max_columns', 100)

In [3]:
# carregar arquivo de dados de treino
data = pd.read_csv('zoo-train.csv', index_col='animal_name')

# mostrar tamanho
print(data.shape)

# mostrar alguns exemplos de registros
data.head()

(101, 17)

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
animal_name,,,,,,,,,,,,,,,,,
swan,n,y,y,n,y,y,n,n,y,y,n,n,2,y,n,y,2
tuatara,n,n,y,n,n,n,y,y,y,y,n,n,4,y,n,n,3
bass,n,n,y,n,n,y,y,y,y,n,n,y,0,y,n,n,4
hare,y,n,n,y,n,n,n,y,y,y,n,n,4,y,n,n,1
chub,n,n,y,n,n,y,y,y,y,n,n,y,0,y,n,n,4

In [4]:
# carregar arquivo de dados de treino
data2 = pd.read_csv('zoo-train2.csv', index_col='animal_name')

# mostrar tamanho
print(data2.shape)

# mostrar alguns exemplos de registros
data2.head()

(43, 17)

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
animal_name,,,,,,,,,,,,,,,,,
boa,n,n,y,n,n,n,y,y,y,y,n,n,0,y,n,y,3
barracuda,n,n,y,n,n,y,y,y,y,n,n,y,0,y,n,y,4
mosquito,n,n,y,n,y,n,n,n,n,y,n,n,6,n,n,n,6
anchovy,n,n,y,n,n,y,n,n,y,n,n,y,0,y,n,n,4
spider,n,n,y,n,n,n,y,y,n,y,y,n,8,n,n,n,7

In [5]:
# unir ambos os dados de treinamento
data = data.append(data2)

# mostrar tamanho
print(data.shape)

# mostrar alguns exemplos de registros
data.tail()

(144, 17)

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
animal_name,,,,,,,,,,,,,,,,,
gecko,n,n,y,n,n,n,n,y,y,y,n,n,4,y,y,n,3
gharial,n,n,y,n,n,y,y,y,y,y,n,n,4,y,n,y,3
trout,n,n,y,n,n,y,n,n,y,n,n,y,0,y,n,y,4
skink,n,n,y,n,n,n,n,y,y,y,n,n,4,y,n,n,3
palmetto,n,n,y,n,y,n,y,n,n,y,n,n,6,n,n,n,6

In [ ]:
#TODO: transformar y/n em 0/1

In [6]:
# importar pacotes usados na seleção do modelo e na medição da precisão
from sklearn.model_selection import train_test_split

# importar os pacotes necessários para os algoritmos de classificação
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

In [7]:
# definir dados de entrada

X = data.drop(['class_type'], axis=1) # tudo, exceto a coluna alvo
y = data['class_type'] # apenas a coluna alvo

print('Forma dos dados originais:', X.shape, y.shape)

Forma dos dados originais: (144, 16) (144,)

In [8]:
# separarar dados para fins de treino (70%) e de teste (30%)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

print('Forma dos dados separados:', X_train.shape, X_test.shape, y_train.shape, y_test.shape)

Forma dos dados separados: (100, 16) (44, 16) (100,) (44,)

In [9]:
X_train.head()

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
animal_name,,,,,,,,,,,,,,,,
cheetah,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1
pussycat,1,0,0,1,0,0,1,1,1,1,0,0,4,1,1,1
reindeer,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,1
boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1
mongoose,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1

In [10]:
y_train.head()

animal_name
cheetah     1
pussycat    1
reindeer    1
boar        1
mongoose    1
Name: class_type, dtype: int64

In [11]:
# A) Support Vector Machine (SVM)

model = SVC()

model.fit(X_train, y_train)
score = model.score(X_test, y_test) * 100

print(model, '\nScore: %.2f%%' % score)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)
Score: 95.45%

In [12]:
# B) Logistic Regression

model = LogisticRegression()

model.fit(X_train, y_train)
score = model.score(X_test, y_test) * 100

print(model, '\nScore: %.2f%%' % score)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)
Score: 95.45%

In [13]:
# C) Decision Tree

model = DecisionTreeClassifier()

model.fit(X_train, y_train)
score = model.score(X_test, y_test) * 100

print(model, '\nScore: %.2f%%' % score)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')
Score: 97.73%

In [14]:
# D) K-Nearest Neighbours

model = KNeighborsClassifier(n_neighbors=3)

model.fit(X_train, y_train)
score = model.score(X_test, y_test) * 100

print(model, '\nScore: %.2f%%' % score)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')
Score: 88.64%