In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('iris.csv', index_col='Id')
data.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
data = data.sample(frac=1)

print(data.shape)
data.head()

(150, 5)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
Id
47            5.1           3.8            1.6           0.2      Iris-setosa
37            5.5           3.5            1.3           0.2      Iris-setosa
50            5.0           3.3            1.4           0.2      Iris-setosa
79            6.0           2.9            4.5           1.5  Iris-versicolor
44            5.0           3.5            1.6           0.6      Iris-setosa

In [4]:
train = data[:100]
test = data[100:]

print(train.shape, test.shape)

(100, 5) (50, 5)

In [5]:
train.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
Id
47            5.1           3.8            1.6           0.2      Iris-setosa
37            5.5           3.5            1.3           0.2      Iris-setosa
50            5.0           3.3            1.4           0.2      Iris-setosa
79            6.0           2.9            4.5           1.5  Iris-versicolor
44            5.0           3.5            1.6           0.6      Iris-setosa

In [6]:
test.head()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
Id
72             6.1           2.8            4.0           1.3  Iris-versicolor
78             6.7           3.0            5.0           1.7  Iris-versicolor
139            6.0           3.0            4.8           1.8   Iris-virginica
135            6.1           2.6            5.6           1.4   Iris-virginica
27             5.0           3.4            1.6           0.4      Iris-setosa

In [7]:
species = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

example = test[['Species']]
example['Species'] = example.index.map(lambda x: species[x % 3])
example.head()

/opt/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

             Species
Id
72       Iris-setosa
78       Iris-setosa
139  Iris-versicolor
135      Iris-setosa
27       Iris-setosa

In [8]:
train.to_csv('iris-train.csv')
test.drop(['Species'], axis=1).to_csv('iris-test.csv')
test[['Species']].to_csv('iris-solution.csv')
example.to_csv('iris-example.csv')

In [9]:
!head *.csv

==> iris-example.csv <==
Id,Species
72,Iris-setosa
78,Iris-setosa
139,Iris-versicolor
135,Iris-setosa
27,Iris-setosa
6,Iris-setosa
118,Iris-versicolor
57,Iris-setosa
103,Iris-versicolor

==> iris-solution.csv <==
Id,Species
72,Iris-versicolor
78,Iris-versicolor
139,Iris-virginica
135,Iris-virginica
27,Iris-setosa
6,Iris-setosa
118,Iris-virginica
57,Iris-versicolor
103,Iris-virginica

==> iris-test.csv <==
Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
72,6.1,2.8,4.0,1.3
78,6.7,3.0,5.0,1.7
139,6.0,3.0,4.8,1.8
135,6.1,2.6,5.6,1.4
27,5.0,3.4,1.6,0.4
6,5.4,3.9,1.7,0.4
118,7.7,3.8,6.7,2.2
57,6.3,3.3,4.7,1.6
103,7.1,3.0,5.9,2.1

==> iris-train.csv <==
Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
47,5.1,3.8,1.6,0.2,Iris-setosa
37,5.5,3.5,1.3,0.2,Iris-setosa
50,5.0,3.3,1.4,0.2,Iris-setosa
79,6.0,2.9,4.5,1.5,Iris-versicolor
44,5.0,3.5,1.6,0.6,Iris-setosa
89,5.6,3.0,4.1,1.3,Iris-versicolor
28,5.2,3.5,1.5,0.2,Iris-setosa
127,6.2,2.8,4.8,1.8,Iris-virginica
91,5.5,2.6,4.4,1.2,Iris-versicolor

==> iris.csv <==
Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,5.1,3.5,1.4,0.2,Iris-setosa
2,4.9,3.0,1.4,0.2,Iris-setosa
3,4.7,3.2,1.3,0.2,Iris-setosa
4,4.6,3.1,1.5,0.2,Iris-setosa
5,5.0,3.6,1.4,0.2,Iris-setosa
6,5.4,3.9,1.7,0.4,Iris-setosa
7,4.6,3.4,1.4,0.3,Iris-setosa
8,5.0,3.4,1.5,0.2,Iris-setosa
9,4.4,2.9,1.4,0.2,Iris-setosa