In [1]:
# importar pacotes necessários
import numpy as np
import pandas as pd

In [2]:
# carregar arquivo de dados de treino
train_data = pd.read_csv('iris-train.csv', index_col='Id')

# mostrar alguns exemplos de registros
train_data.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
Id
47            5.1           3.8            1.6           0.2      Iris-setosa
37            5.5           3.5            1.3           0.2      Iris-setosa
50            5.0           3.3            1.4           0.2      Iris-setosa
79            6.0           2.9            4.5           1.5  Iris-versicolor
44            5.0           3.5            1.6           0.6      Iris-setosa

In [3]:
# carregar arquivo de dados de teste
test_data = pd.read_csv('iris-test.csv', index_col='Id')

# mostrar alguns exemplos de registros
test_data.head()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Id
72             6.1           2.8            4.0           1.3
78             6.7           3.0            5.0           1.7
139            6.0           3.0            4.8           1.8
135            6.1           2.6            5.6           1.4
27             5.0           3.4            1.6           0.4

In [4]:
# definir dados de treino

X_train = train_data.drop(['Species'], axis=1) # tudo, exceto a coluna alvo
y_train = train_data['Species'] # apenas a coluna alvo

print('Forma dos dados de treino:', X_train.shape, y_train.shape)

Forma dos dados de treino: (100, 4) (100,)

In [5]:
# definir dados de teste

X_test = test_data # tudo, já que não possui a coluna alvo

print('Forma dos dados de teste:', X_test.shape)

Forma dos dados de teste: (50, 4)

In [6]:
# importar os pacotes necessários para os algoritmos de classificação
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [7]:
# B) Logistic Regression

model = LogisticRegression()
model.fit(X_train, y_train)

print(model)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [8]:
# C) Decision Tree
'''
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

print(model)
'''

'\nmodel = DecisionTreeClassifier()\nmodel.fit(X_train, y_train)\n\nprint(model)\n'

In [9]:
# executar previsão usando o modelo escolhido
y_pred = model.predict(X_test)

print('Exemplos de previsões:\n', y_pred[:10])

Exemplos de previsões:
 ['Iris-versicolor' 'Iris-virginica' 'Iris-virginica' 'Iris-virginica'
 'Iris-setosa' 'Iris-setosa' 'Iris-virginica' 'Iris-versicolor'
 'Iris-virginica' 'Iris-setosa']

In [10]:
# gerar dados de envio (submissão)

submission = pd.DataFrame({
  'Id': X_test.index,
  'Species': y_pred
})
submission.set_index('Id', inplace=True)

# mostrar dados de exemplo
submission.head(10)

             Species
Id
72   Iris-versicolor
78    Iris-virginica
139   Iris-virginica
135   Iris-virginica
27       Iris-setosa
6        Iris-setosa
118   Iris-virginica
57   Iris-versicolor
103   Iris-virginica
18       Iris-setosa

In [11]:
# gerar arquivo CSV para o envio
submission.to_csv('iris-submission.csv')

In [12]:
# verificar conteúdo do arquivo gerado
!head iris-submission.csv

Id,Species
72,Iris-versicolor
78,Iris-virginica
139,Iris-virginica
135,Iris-virginica
27,Iris-setosa
6,Iris-setosa
118,Iris-virginica
57,Iris-versicolor
103,Iris-virginica