In [1]:
# importar pacotes necessários
import numpy as np
import pandas as pd

In [2]:
# definir parâmetros extras
pd.set_option('precision', 2)
pd.set_option('display.max_columns', 100)

In [3]:
# carregar arquivo de dados de treino
data = pd.read_csv('iris-train.csv', index_col='Id')

# mostrar alguns exemplos de registros
data.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
Id
47            5.1           3.8            1.6           0.2      Iris-setosa
37            5.5           3.5            1.3           0.2      Iris-setosa
50            5.0           3.3            1.4           0.2      Iris-setosa
79            6.0           2.9            4.5           1.5  Iris-versicolor
44            5.0           3.5            1.6           0.6      Iris-setosa

In [4]:
# quantas linhas e colunas existem?
data.shape

(100, 5)

In [5]:
# quais são as colunas e respectivos tipos de dados?
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 47 to 111
Data columns (total 5 columns):
SepalLengthCm    100 non-null float64
SepalWidthCm     100 non-null float64
PetalLengthCm    100 non-null float64
PetalWidthCm     100 non-null float64
Species          100 non-null object
dtypes: float64(4), object(1)
memory usage: 4.3+ KB

In [6]:
# sumário estatístico das características numéricas
data.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count         100.00        100.00         100.00        100.00
mean            5.76          3.01           3.66          1.16
std             0.83          0.43           1.77          0.78
min             4.30          2.00           1.00          0.10
25%             5.07          2.70           1.50          0.27
50%             5.70          3.00           4.15          1.30
75%             6.30          3.30           5.10          1.80
max             7.70          4.10           6.90          2.50

In [7]:
# existem colunas com dados nulos?
data[data.columns[data.isnull().any()]].isnull().sum()

Series([], dtype: float64)

In [8]:
# quais as correlações entre as características numéricas?
data.corr()

               SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
SepalLengthCm           1.00         -0.15           0.88          0.83
SepalWidthCm           -0.15          1.00          -0.44         -0.36
PetalLengthCm           0.88         -0.44           1.00          0.96
PetalWidthCm            0.83         -0.36           0.96          1.00