In [10]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('prediction-tbats.csv', index_col=['ID'])
data.head()

    item_cnt_month
ID
0              1.0
1              0.0
2              0.0
3              1.0
4              0.0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214200 entries, 0 to 214199
Data columns (total 1 columns):
item_cnt_month    214200 non-null float64
dtypes: float64(1)
memory usage: 3.3 MB

In [7]:
data.describe()

       item_cnt_month
count   214200.000000
mean         0.387554
std          1.553785
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         20.000000

In [8]:
data2 = data[['item_cnt_month']] / 2
data2.head()

    item_cnt_month
ID
0              0.5
1              0.0
2              0.0
3              0.5
4              0.0

In [9]:
data2.to_csv('prediction-tbats-div2.csv')

In [11]:
data3 = np.clip(data[['item_cnt_month']], 0, 10)
data3.head()

    item_cnt_month
ID
0              1.0
1              0.0
2              0.0
3              1.0
4              0.0

In [12]:
data3.describe()

       item_cnt_month
count   214200.000000
mean         0.354113
std          1.223999
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         10.000000

In [13]:
data3.to_csv('prediction-tbats-clip10.csv')

In [14]:
data4 = np.ceil(data[['item_cnt_month']] / 2)
data4.head()

    item_cnt_month
ID
0              1.0
1              0.0
2              0.0
3              1.0
4              0.0

In [15]:
data4.to_csv('prediction-tbats-div2-ceil.csv')

In [16]:
data5 = np.floor(data[['item_cnt_month']] / 2)
data5.head()

    item_cnt_month
ID
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0

In [17]:
data5.to_csv('prediction-tbats-div2-floor.csv')