In [21]:
import pandas as pd
import numpy as np

In [22]:
data = pd.read_csv('prediction-tbats.csv', index_col=['ID'])
data.head()

    item_cnt_month
ID
0              1.0
1              0.0
2              0.0
3              1.0
4              0.0

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214200 entries, 0 to 214199
Data columns (total 1 columns):
item_cnt_month    214200 non-null float64
dtypes: float64(1)
memory usage: 3.3 MB

In [24]:
data.describe()

       item_cnt_month
count   214200.000000
mean         0.387554
std          1.553785
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         20.000000

In [5]:
data2 = data[['item_cnt_month']] / 2
data2.head()

    item_cnt_month
ID
0              0.5
1              0.0
2              0.0
3              0.5
4              0.0

data2.to_csv('prediction-tbats-div2.csv')

In [6]:
data3 = np.clip(data[['item_cnt_month']], 0, 10)
data3.head()

    item_cnt_month
ID
0              1.0
1              0.0
2              0.0
3              1.0
4              0.0

In [7]:
data3.describe()

       item_cnt_month
count   214200.000000
mean         0.354113
std          1.223999
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         10.000000

data3.to_csv('prediction-tbats-clip10.csv')

In [8]:
data4 = np.ceil(data[['item_cnt_month']] / 2)
data4.head()

    item_cnt_month
ID
0              1.0
1              0.0
2              0.0
3              1.0
4              0.0

data4.to_csv('prediction-tbats-div2-ceil.csv')

In [9]:
data5 = np.floor(data[['item_cnt_month']] / 2)
data5.head()

    item_cnt_month
ID
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0

data5.to_csv('prediction-tbats-div2-floor.csv')

In [10]:
data6 = np.ceil(data[['item_cnt_month']] / 3)
data6.head()

    item_cnt_month
ID
0              1.0
1              0.0
2              0.0
3              1.0
4              0.0

data6.to_csv('prediction-tbats-div3-ceil.csv')

In [12]:
data7 = np.sqrt(data[['item_cnt_month']])
data7.head()

    item_cnt_month
ID
0              1.0
1              0.0
2              0.0
3              1.0
4              0.0

data7.to_csv('prediction-tbats-sqrt.csv')

In [14]:
data8 = np.ceil(data[['item_cnt_month']] / 4)
data8.head()

    item_cnt_month
ID
0              1.0
1              0.0
2              0.0
3              1.0
4              0.0

In [15]:
data8.to_csv('prediction-tbats-div4-ceil.csv')

In [16]:
data9 = np.ceil(data[['item_cnt_month']] / 5)
data9.head()

    item_cnt_month
ID
0              1.0
1              0.0
2              0.0
3              1.0
4              0.0

data9.to_csv('prediction-tbats-div5-ceil.csv')

Your submission scored 1.21707, which is an improvement of your previous score of 1.21754.

In [18]:
data10 = np.ceil(data[['item_cnt_month']] / 6)
data10.head()

    item_cnt_month
ID
0              1.0
1              0.0
2              0.0
3              1.0
4              0.0

data10.to_csv('prediction-tbats-div6-ceil.csv')

In [20]:
!gzip -9 prediction-tbats-*.csv; mv prediction-tbats-*.csv.gz submissions/

In [25]:
data11 = np.floor(data[['item_cnt_month']] / 6)
data11.head()

    item_cnt_month
ID
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0

In [26]:
data11.to_csv('prediction-tbats-div6-floor.csv')

In [27]:
data12 = np.floor(data[['item_cnt_month']] / 5)
data12.head()

    item_cnt_month
ID
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0

In [28]:
data12.to_csv('prediction-tbats-div5-floor.csv')

In [29]:
data13 = np.floor(data[['item_cnt_month']] / 4)
data13.head()

    item_cnt_month
ID
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0

In [30]:
data13.to_csv('prediction-tbats-div4-floor.csv')

In [31]:
data14 = np.floor(data[['item_cnt_month']] / 3)
data14.head()

    item_cnt_month
ID
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0

In [32]:
data14.to_csv('prediction-tbats-div3-floor.csv')

In [33]:
data15 = data[['item_cnt_month']] / 4
data15.head()

    item_cnt_month
ID
0             0.25
1             0.00
2             0.00
3             0.25
4             0.00

In [34]:
data15.to_csv('prediction-tbats-div4.csv')