## Importação dos pacotes

In [1]:
# importar pacotes necessários
import numpy as np
import pandas as pd

In [2]:
# definir parâmetros extras
pd.set_option('precision', 3)
pd.set_option('display.max_columns', 100)

## Carga dos dados

In [31]:
# carregar arquivo de dados de treino
data = pd.read_csv('wine-train.csv', index_col='wine')

# mostrar alguns exemplos de registros
data.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph,sulphates,alcohol,quality
wine,,,,,,,,,,,,
1942,8.3,0.36,0.57,15.0,0.052,35.0,256.0,1.000,2.93,0.64,8.6,5.0
3847,6.4,0.32,0.23,16.2,0.055,36.0,176.0,0.999,3.26,0.54,9.1,5.0
3183,6.5,0.24,0.38,1.0,0.027,31.0,90.0,0.989,3.24,0.36,12.3,6.0
2745,6.7,0.44,0.22,4.3,0.032,19.0,99.0,0.990,3.26,0.53,12.8,7.0
2977,6.6,0.23,0.20,11.4,0.044,45.0,131.0,0.996,2.96,0.51,9.7,6.0

In [32]:
# quantas linhas e colunas existem?
data.shape

(3265, 12)

## Análise dos dados

In [34]:
# quais são as colunas e respectivos tipos de dados?
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3265 entries, 1942 to 4334
Data columns (total 12 columns):
fixed_acidity           3265 non-null float64
volatile_acidity        3265 non-null float64
citric_acid             3265 non-null float64
residual_sugar          3265 non-null float64
chlorides               3265 non-null float64
free_sulfur_dioxide     3265 non-null float64
total_sulfur_dioxide    3265 non-null float64
density                 3265 non-null float64
ph                      3265 non-null float64
sulphates               3265 non-null float64
alcohol                 3265 non-null float64
quality                 3265 non-null float64
dtypes: float64(12)
memory usage: 331.6 KB

In [35]:
# existem colunas com dados nulos?
data[data.columns[data.isnull().any()]].isnull().sum()

Series([], dtype: float64)

In [37]:
# sumário estatístico das características numéricas
data.describe().T

,count,mean,std,min,25%,50%,75%,max
fixed_acidity,3265.0,6.857,0.837,3.900,6.300,6.800,7.300,14.200
volatile_acidity,3265.0,0.278,0.099,0.080,0.210,0.260,0.320,0.965
citric_acid,3265.0,0.335,0.122,0.000,0.270,0.320,0.390,1.660
residual_sugar,3265.0,6.356,5.144,0.600,1.700,5.100,9.850,65.800
chlorides,3265.0,0.046,0.022,0.009,0.036,0.043,0.050,0.301
free_sulfur_dioxide,3265.0,35.094,16.429,2.000,23.000,34.000,45.000,138.500
total_sulfur_dioxide,3265.0,137.643,42.145,9.000,107.000,134.000,167.000,313.000
density,3265.0,0.994,0.003,0.987,0.992,0.994,0.996,1.039
ph,3265.0,3.188,0.150,2.720,3.080,3.180,3.280,3.820
sulphates,3265.0,0.488,0.113,0.220,0.410,0.470,0.550,1.080
alcohol,3265.0,10.520,1.238,8.000,9.400,10.400,11.400,14.000
quality,3265.0,5.893,0.875,3.000,5.000,6.000,6.000,9.000

In [38]:
# quais as correlações entre as características numéricas?
data.corr()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph,sulphates,alcohol,quality
fixed_acidity,1.000,-0.031,0.276,0.087,0.031,-0.049,0.095,0.260,-0.419,-0.011,-0.123,-0.108
volatile_acidity,-0.031,1.000,-0.147,0.074,0.074,-0.099,0.090,0.037,-0.034,-0.046,0.062,-0.194
citric_acid,0.276,-0.147,1.000,0.090,0.143,0.107,0.129,0.142,-0.170,0.062,-0.073,-0.016
residual_sugar,0.087,0.074,0.090,1.000,0.091,0.314,0.406,0.845,-0.197,-0.022,-0.453,-0.101
chlorides,0.031,0.074,0.143,0.091,1.000,0.102,0.200,0.259,-0.102,0.014,-0.366,-0.208
free_sulfur_dioxide,-0.049,-0.099,0.107,0.314,0.102,1.000,0.625,0.307,0.002,0.055,-0.262,0.027
total_sulfur_dioxide,0.095,0.090,0.129,0.406,0.200,0.625,1.000,0.529,-0.011,0.124,-0.458,-0.168
density,0.260,0.037,0.142,0.845,0.259,0.307,0.529,1.000,-0.097,0.081,-0.772,-0.301
ph,-0.419,-0.034,-0.170,-0.197,-0.102,0.002,-0.011,-0.097,1.000,0.164,0.127,0.116
sulphates,-0.011,-0.046,0.062,-0.022,0.014,0.055,0.124,0.081,0.164,1.000,-0.026,0.061
alcohol,-0.123,0.062,-0.073,-0.453,-0.366,-0.262,-0.458,-0.772,0.127,-0.026,1.000,0.435
quality,-0.108,-0.194,-0.016,-0.101,-0.208,0.027,-0.168,-0.301,0.116,0.061,0.435,1.000

In [40]:
# show variable correlation which is more than 0.6 (positive or negative)
corr = data.corr()
corr[corr != 1][abs(corr) > 0.6].dropna(how='all', axis=1).dropna(how='all', axis=0)

,residual_sugar,free_sulfur_dioxide,total_sulfur_dioxide,density,alcohol
residual_sugar,NaN,NaN,NaN,0.845,NaN
free_sulfur_dioxide,NaN,NaN,0.625,NaN,NaN
total_sulfur_dioxide,NaN,0.625,NaN,NaN,NaN
density,0.845,NaN,NaN,NaN,-0.772
alcohol,NaN,NaN,NaN,-0.772,NaN

In [41]:
data.groupby('quality').mean()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph,sulphates,alcohol
quality,,,,,,,,,,,
3.0,7.750,0.322,0.341,5.905,0.043,39.550,127.800,0.995,3.169,0.444,10.270
4.0,7.072,0.388,0.304,4.756,0.050,22.220,121.559,0.994,3.172,0.476,10.148
5.0,6.934,0.303,0.339,7.275,0.051,35.935,150.133,0.995,3.166,0.478,9.815
6.0,6.848,0.261,0.338,6.419,0.045,35.583,137.002,0.994,3.188,0.491,10.577
7.0,6.740,0.264,0.326,5.045,0.038,34.143,124.229,0.992,3.219,0.504,11.387
8.0,6.655,0.275,0.327,5.954,0.039,36.471,124.074,0.992,3.212,0.476,11.539
9.0,7.150,0.300,0.350,3.100,0.025,42.000,129.000,0.990,3.280,0.420,12.600

In [42]:
numeric_feats = data.dtypes[data.dtypes != "object"].index
numeric_feats

Index(['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar',
       'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density',
       'ph', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [43]:
from scipy.stats import skew
skewed_feats = data[numeric_feats].apply(lambda x: skew(x.dropna())) # compute skewness
skewed_feats = skewed_feats[skewed_feats > 0.75]
skewed_feats = skewed_feats.index
skewed_feats

Index(['volatile_acidity', 'citric_acid', 'residual_sugar', 'chlorides',
       'density', 'sulphates'],
      dtype='object')

In [44]:
data.head(10).T

wine,1942,3847,3183,2745,2977,1421,1709,4601,2326,2922
fixed_acidity,8.300,6.400,6.500,6.700,6.600,6.200,6.800,6.900,6.900,6.500
volatile_acidity,0.360,0.320,0.240,0.440,0.230,0.180,0.220,0.230,0.350,0.440
citric_acid,0.570,0.230,0.380,0.220,0.200,0.490,0.300,0.350,0.550,0.470
residual_sugar,15.000,16.200,1.000,4.300,11.400,4.500,13.600,6.900,11.950,5.450
chlorides,0.052,0.055,0.027,0.032,0.044,0.047,0.055,0.030,0.038,0.014
free_sulfur_dioxide,35.000,36.000,31.000,19.000,45.000,17.000,50.000,45.000,22.000,44.000
total_sulfur_dioxide,256.000,176.000,90.000,99.000,131.000,90.000,180.000,116.000,111.000,137.000
density,1.000,0.999,0.989,0.990,0.996,0.992,0.998,0.992,0.997,0.990
ph,2.930,3.260,3.240,3.260,2.960,3.270,3.440,2.800,3.110,3.130
sulphates,0.640,0.540,0.360,0.530,0.510,0.370,0.390,0.540,0.290,0.320
alcohol,8.600,9.100,12.300,12.800,9.700,11.600,9.800,11.000,9.700,13.000
quality,5.000,5.000,6.000,7.000,6.000,6.000,5.000,6.000,5.000,8.000

data[skewed_feats] = np.log1p(data[skewed_feats])

data.head(10).T

data = pd.get_dummies(data)
data = data.fillna(data.mean())

In [45]:
data.isna().sum()

fixed_acidity           0
volatile_acidity        0
citric_acid             0
residual_sugar          0
chlorides               0
free_sulfur_dioxide     0
total_sulfur_dioxide    0
density                 0
ph                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [80]:
# https://towardsdatascience.com/ways-to-detect-and-remove-the-outliers-404d16608dba

Q1 = data.quantile(0.25)
Q3 = data.quantile(0.75)
IQR = Q3 - Q1

print(IQR)

'''
print('')
print(data.mean())
print('')
print(data.std())
'''

fixed_acidity            1.000
volatile_acidity         0.110
citric_acid              0.120
residual_sugar           8.150
chlorides                0.014
free_sulfur_dioxide     22.000
total_sulfur_dioxide    60.000
density                  0.004
ph                       0.200
sulphates                0.140
alcohol                  2.000
quality                  1.000
dtype: float64

"\nprint('')\nprint(data.mean())\nprint('')\nprint(data.std())\n"

print(data < (Q1 - 1.5 * IQR)) | (data > (Q3 + 1.5 * IQR))

In [77]:
# https://www.kdnuggets.com/2017/02/removing-outliers-standard-deviation-python.html

#TODO: remover outliers para cada valor de "quality" (de 3 a 9)

spread = 2.0

removed_ids = ((data < (Q1 - spread * IQR)) | (data > (Q3 + spread * IQR))).index.values
print('removed ids:', removed_ids)

data_out = data[~((data < (Q1 - spread * IQR)) | (data > (Q3 + spread * IQR))).any(axis=1)]
#data_out = data[~((data < (Q1 - 1.5 * IQR)) | (data > (Q3 + 1.5 * IQR))).any(axis=1)]

print('before:', data.shape, '=> after:', data_out.shape,
      ':: removed %d lines' % int(data.shape[0] - data_out.shape[0]))

removed ids: [1942 3847 3183 ...  895  563 4334]
before: (3265, 12) => after: (2919, 12) :: removed 346 lines

In [78]:
data_out.head(10).T

wine,1942,3847,3183,2745,2977,1421,1709,4601,2326,2922
fixed_acidity,8.300,6.400,6.500,6.700,6.600,6.200,6.800,6.900,6.900,6.500
volatile_acidity,0.360,0.320,0.240,0.440,0.230,0.180,0.220,0.230,0.350,0.440
citric_acid,0.570,0.230,0.380,0.220,0.200,0.490,0.300,0.350,0.550,0.470
residual_sugar,15.000,16.200,1.000,4.300,11.400,4.500,13.600,6.900,11.950,5.450
chlorides,0.052,0.055,0.027,0.032,0.044,0.047,0.055,0.030,0.038,0.014
free_sulfur_dioxide,35.000,36.000,31.000,19.000,45.000,17.000,50.000,45.000,22.000,44.000
total_sulfur_dioxide,256.000,176.000,90.000,99.000,131.000,90.000,180.000,116.000,111.000,137.000
density,1.000,0.999,0.989,0.990,0.996,0.992,0.998,0.992,0.997,0.990
ph,2.930,3.260,3.240,3.260,2.960,3.270,3.440,2.800,3.110,3.130
sulphates,0.640,0.540,0.360,0.530,0.510,0.370,0.390,0.540,0.290,0.320
alcohol,8.600,9.100,12.300,12.800,9.700,11.600,9.800,11.000,9.700,13.000
quality,5.000,5.000,6.000,7.000,6.000,6.000,5.000,6.000,5.000,8.000

In [79]:
data_out.to_csv('wine-train-without-outliers.csv')